{{yield}}

{{add-todo onAdd=(action 'addTodo')}}

<ul>
  {{#each todos as |todo|}}
    <li>{{todo.text}}</li> {{remove-todo onRemove=(action 'removeTodo')}} {{edit-todo onEdit=(action 'editTodo')}}
    {{/each}}
  </ul>
  
